**/*_results
**/.DS_Store
docs/build
Manifest.toml
README.html
*.ipynb
*.dat
*.yml
*.yaml
*.conv
**/*.swp
**/*.pyc
tmp_sim
plot*
!models/**/*.yaml
!models/**/*.dat
**/__pycache__

# validation
validation/*

# models
models/Boileau2015/*/*_ref
models/Boileau2015/*/*_results
models/**/*.eps
models/**/*.png
!models/Boileau2015/plot.py
!models/Boileau2015/plot_style.txt
!models/Boileau2015/adan56/plot.py
