**/*_results
**/.DS_Store
docs/build
Manifest.toml
README.html
*.ipynb
*.dat
*.yml
*.yaml
*.conv
**/*.swp
plot*
!models/**/*.yaml
!models/**/*.dat
**/__pycache__

# validation
!validation/uta/uta_ref/*
!validation/uta/uta.yaml
!validation/uta/uta_inlet.dat
!validation/cca/cca_ref/*
!validation/cca/cca.yaml
!validation/cca/cca_inlet.dat
!validation/ibif/ibif_ref/*
!validation/ibif/ibif.yaml
!validation/ibif/ibif_inlet.dat
!validation/plot_style.txt
!validation/plot.py
validation/**/*.png
validation/**/*.eps