language: julia
os:
  - linux
  - osx
julia:
  - 1.0
  - 1.3
notifications:
  email: false
after_success:
  - julia -e 'using Pkg; cd(Pkg.dir("openBF")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
matrix:
  fast_finish: true
